<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="valdez.lallave.dagdag.dlsu_profstopick">

    <application
        android:allowBackup="true"
        android:icon="@drawable/dlsu"
        android:roundIcon="@drawable/dlsu"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">>
        <activity android:name=".JavaActivities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JavaActivities.HomePage" />
        <activity android:name=".JavaActivities.ProfPage" android:parentActivityName=".JavaActivities.HomePage"/>
        <activity android:name=".JavaActivities.AndroidDatabaseManager"/>
        <activity android:name=".JavaActivities.RegisterActivity" android:parentActivityName=".JavaActivities.MainActivity"/>
        <activity android:name=".JavaActivities.ChangePassword" android:parentActivityName=".JavaActivities.HomePage"/>
        <activity android:name=".JavaActivities.SuggestProf" android:parentActivityName=".JavaActivities.HomePage"/>
        <activity android:name=".JavaActivities.FollowedProf" android:parentActivityName=".JavaActivities.HomePage"/>
        <activity android:name=".JavaActivities.ForgotPass" android:parentActivityName=".JavaActivities.MainActivity"/>


    </application>
</manifest>